 /* 
 Student name: Laura Lizarazo
 Student number: 301238622
 Date: 6/04/2023
 */


.container {
    margin: 2%;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.menu-logo {
    width:80%;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  