
<section class="mat-typography title-group">
    <h1><b> &nbsp; &nbsp;ABOUT ME</b></h1>
    <mat-divider></mat-divider>
  </section>
  
  <!--  <mat-card-header>
          <mat-card-title>About Me</mat-card-title>
        </mat-card-header> -->
  <div class="container">
    <mat-card>
        <mat-card-content>
          <p>
            My Name: Laura Lizarazo <br><br>

            Image: [Insert head and shoulders photograph here]<br><br>
            
            I am a dedicated and experienced software engineer with a passion for creating innovative solutions. With a strong background in developing applications using C#, .NET, and SQL, I bring a wealth of technical knowledge and expertise to every project. Throughout my career, I have successfully implemented web-based applications, integrated systems through APIs, and designed reports using tools like Power BI and Reporting Services.<br><br>
            
            I thrive in collaborative environments and enjoy working with cross-functional teams to deliver high-quality solutions. I am committed to continuous learning and staying updated with the latest industry trends to ensure that I am equipped with the most relevant skills and knowledge. With a strong work ethic, attention to detail, and effective problem-solving abilities, I consistently deliver results that exceed expectations.<br><br>
            
            I believe in the power of effective communication and building strong relationships with clients, colleagues, and stakeholders. I am dedicated to providing exceptional support and creating value through software engineering. As I continue to grow and evolve in my career, I am always seeking new opportunities to contribute my skills and expertise to make a positive impact.<br><br>
            
            Thank you for taking the time to learn more about me. I look forward to connecting and exploring potential collaboration opportunities.<br><br>
          </p>
         
        </mat-card-content>
      </mat-card>
  </div>

  
