<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="section-title">
    <h2>About</h2>
    <p> Thank you for taking the time to learn more about me. I look forward to connecting and exploring potential
      collaboration opportunities.</p>
  </div>

  <div class="container">



    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
        <div class="col-lg-12">
          <img src="../assets/img/laura.png" class="menu-logo" alt="">
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="col-lg-12 pt-4 pt-lg-0 content">
          <h3>Laura Lizarazo &amp; Software Engineer</h3>
          <p class="fst-italic">
            I believe in the power of effective
            communication
            and building strong relationships with clients, colleagues, and stakeholders.
          </p>
          <div class="row">

            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile>
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> 18 Feb 1995</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong>
                    https://firstassignment301238622.vercel.app/</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +4372447008</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> City : Toronto, CA</li>
                </ul>
              </mat-grid-tile>
              <mat-grid-tile>
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> 27</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Specialization</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> laura.lizarazo20@gmail.com</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                </ul>
              </mat-grid-tile>

            </mat-grid-list>
          </div>
          <p>
            I am a dedicated and experienced software engineer with a passion for creating innovative solutions. With
            a
            strong background in developing applications using C#, .NET, and SQL, I bring a wealth of technical
            knowledge
            and expertise to every project. Throughout my career, I have successfully implemented web-based
            applications,
            integrated systems through APIs, and designed reports using tools like Power BI and Reporting
            Services.<br><br>

            I thrive in collaborative environments and enjoy working with cross-functional teams to deliver
            high-quality
            solutions. I am committed to continuous learning and staying updated with the latest industry trends to
            ensure
            that I am equipped with the most relevant skills and knowledge<br><br>

            <br><br>


          </p>

          <mat-chip-listbox aria-label="Dog selection">
            <mat-chip>
              <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                alt="Photo of a Shiba Inu" />
              C#
            </mat-chip>
            <mat-chip color="primary">
              <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                alt="Photo of a Shiba Inu" />
              SQL
            </mat-chip>
            <mat-chip color="accent">
              <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                alt="Photo of a Shiba Inu" />
              JavaScript
            </mat-chip>
            <mat-chip color="accent">
              <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                alt="Photo of a Shiba Inu" />
              .NET
            </mat-chip>
            <mat-chip color="accent">
              <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                alt="Photo of a Shiba Inu" />
              SSRS
            </mat-chip>
          </mat-chip-listbox>
        </div>
      </mat-grid-tile>

    </mat-grid-list>


  </div>
</section><!-- End About Section -->


<!-- 
<section class="mat-typography title-group">
  <h1><b> &nbsp; &nbsp;ABOUT ME</b></h1>
  <mat-divider></mat-divider>
</section> -->

<!--  <mat-card-header>
          <mat-card-title>About Me</mat-card-title>
        </mat-card-header> 
<div class="container">
  <mat-card>
    <mat-card-content>
      <h1 style="text-align: center;">Laura Lizarazo</h1>
      <p>
        <img src="../assets/img/laura.png" alt="Logo" class="menu-logo"><br><br>

       
      </p>


  
    </mat-card-content>
  </mat-card>
</div>-->