<div class="container">
    <mat-card class="project-card">
        <mat-card-header>
            <mat-card-title>Management of Clients and Matters</mat-card-title>
        </mat-card-header>
        <img mat-card-imagealt="Project Image">
        <mat-card-content>
            <p> implemented a comprehensive web-based customer management application from initial design to final execution. Utilizing technologies such as Bootstrap, jQuery, JavaScript, and MVC, I developed a user-friendly interface that allowed efficient tracking and management of customer data. The application incorporated features like data entry, search functionality, and reporting capabilities, providing the client with a streamlined customer management solution.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary">View Details</button>
        </mat-card-actions>
    </mat-card>
<br><br>
    <mat-card class="project-card">
        <mat-card-header>
            <mat-card-title>Electronic Invoicing Integration</mat-card-title>
        </mat-card-header>
        <img mat-card-imagealt="Project Image">
        <mat-card-content>
            <p>I successfully developed the integration of electronic invoicing between the company and a technology provider. This involved configuring the necessary APIs and establishing secure data exchange protocols. By enabling seamless communication between the systems, the client was able to automate the invoicing process, reducing errors and improving efficiency in their financial operations.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary">View Details</button>
        </mat-card-actions>
    </mat-card>
    <br><br>

    <mat-card class="project-card">
        <mat-card-header>
            <mat-card-title>Data Warehouse for Business Reporting</mat-card-title>
        </mat-card-header>
        <img mat-card-imagealt="Project Image">
        <mat-card-content>
            <p>I designed and implemented a Data Warehouse (DWH) solution for generating business reports. The DWH incorporated data from multiple sources and provided a centralized repository for data analysis. By utilizing tools such as Microsoft Power BI and Reporting Services, I developed custom reports and dashboards that offered valuable insights to the client, enabling data-driven decision-making and enhancing their business intelligence capabilities.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary">View Details</button>
        </mat-card-actions>
    </mat-card>
</div>