<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <h1 class="logo me-auto me-lg-0"><a href="index.html">LAURA </a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <div class="header-social-links">
      <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

  </div>

</header>

<main id="main">
  sdfsdf
  <router-outlet></router-outlet>
</main>


<!-- <mat-toolbar color="primary" class="header">
  <div>Assignment #1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>
<mat-sidenav-container>

  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <img src="../assets/img/logo.png" alt="Logo" class="menu-logo">

    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon >dashboard</mat-icon> Home
      </a>
      <a mat-list-item routerLink="/about">
        <mat-icon >person</mat-icon> About
      </a>
      <a mat-list-item routerLink="/projects">
        <mat-icon >content_paste</mat-icon> Projects
      </a>
      <a mat-list-item routerLink="/services">
        <mat-icon >library_books</mat-icon> Services
      </a>
      <a mat-list-item routerLink="/contact">
        <mat-icon >location_on</mat-icon> Contact
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <br>
    <router-outlet></router-outlet>
   
 

  </mat-sidenav-content>
</mat-sidenav-container> -->