<mat-toolbar color="primary" class="header">
  <div>Assignment #1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>
<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <img src="../assets/img/logo.png" alt="Logo" class="menu-logo">

    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon >dashboard</mat-icon> Home
      </a>
      <a mat-list-item routerLink="/about">
        <mat-icon >person</mat-icon> About
      </a>
      <a mat-list-item routerLink="/projects">
        <mat-icon >content_paste</mat-icon> Projects
      </a>
      <a mat-list-item routerLink="/services">
        <mat-icon >library_books</mat-icon> Services
      </a>
      <a mat-list-item routerLink="/contact">
        <mat-icon >location_on</mat-icon> Contact
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Main content -->
  <mat-sidenav-content>
    <!-- Applying the mat-tyography class adds styles for native elements. -->
    <br>
    <router-outlet></router-outlet>
   
 

  </mat-sidenav-content>
</mat-sidenav-container>