
<br><br><br><div class="section-title">
    <h2>Services</h2>
  </div>

  <div class="row" class="container">
    <mat-card class="project-card">
        <mat-card-header>
            <mat-card-title></mat-card-title>
        </mat-card-header>
        <img mat-card-imagealt="Project Image">
        <mat-card-content>
            <mat-nav-list>
                <mat-icon >check</mat-icon>General Programming: <br><br>
                <p mat-line>I have expertise in various programming languages, including C#, .NET, SQL, Java, and VB.NET. Whether you need custom software development, application enhancements, or bug fixing, I can deliver reliable and efficient solutions.</p>
          
                <mat-icon >check</mat-icon>Mobile Application: <br><br>
                <p mat-line>I have experience in developing mobile applications for Android platforms. If you have an idea for a mobile app, I can help turn it into a reality, from conceptualization to deployment, ensuring a seamless and intuitive user experience.</p>
          
                <mat-icon >check</mat-icon>Web Development: <br><br>
                <p mat-line>I specialize in web application development using frameworks like ASP.NET and technologies like HTML, CSS, JavaScript, and jQuery. From designing and implementing responsive web interfaces to building robust back-end systems, I can create engaging and user-friendly web solutions.</p>
          
                <mat-icon >check</mat-icon>Database Administration: <br><br>
                <p mat-line>I possess strong skills in database management and administration. Whether you need assistance with designing and optimizing databases, ensuring data security and integrity, or implementing efficient data retrieval and storage strategies, I can provide comprehensive database solutions.</p>
          
                <mat-icon >check</mat-icon> Support and Maintenance: <br><br>
                <p mat-line>I offer ongoing support and maintenance services to ensure the smooth operation of your applications. From troubleshooting issues and providing timely bug fixes to implementing updates and enhancements, I am dedicated to ensuring the continuous performance and reliability of your systems.</p>
          
                <mat-icon >check</mat-icon> Integration Services: <br><br>
                <p mat-line>I specialize in integrating various systems and applications through APIs (Application Programming Interfaces). Whether you need to connect your software with third-party services or enable seamless data exchange between different systems, I can assist in creating robust integrations.</p>


              </mat-nav-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary">Contact me</button>
        </mat-card-actions>
    </mat-card>
</div>