<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>

                <img src="../../assets/img/Welcome.png" alt="Logo" class="welcome">
                <br><br>

            </p>
            <h2>My mission is to create value through software engineering by developing robust and user-friendly
                solutions,
                providing exceptional support, and continuously striving for excellence in all aspects of my work.
            </h2>
        </mat-card-content>
    </mat-card>
</div>