<br><br><br><div class="ppal">
    <section id="hero" class="d-flex align-items-center">
        <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
            <!-- <h1>Laura Lizarazo</h1>
      <h2>I'm a professional software engineer</h2> -->
            <br><br>
            <img src="../../assets/img/Welcome.png" alt="Logo">
            <br><br>
            <h2>My mission is to create value through software engineering by developing robust and user-friendly
                solutions,
                providing exceptional support, and continuously striving for excellence in all aspects of my work.
            </h2>

            <a href="/about" class="btn-about">About Me</a>
        </div>
    </section>
</div>


<!-- <div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>

                <img src="../../assets/img/Welcome.png" alt="Logo" class="welcome">
                <br><br>

            </p>
           
        </mat-card-content>
    </mat-card>
</div> -->